<!DOCTYPE html>
<html>
<head>
	<title>Abierto</title>
	<link rel="stylesheet" type="text/css" href="estilos/estiloabrirsobre.css">
	<link type="text/css" rel="stylesheet" href="css/materialize.css">
</head>
<body>
	<div id="titulosobre2">
    	<h4 class="z-depth-1 #e53935 red darken-1">Te Tocaron los Siguientes Cromos !!</h4>
    </div>
    <div id="cromostocados" >
		<img id="1" src="estilos/cromo.png" width="250px">
		<img id="2" src="estilos/cromo.png" width="250px">
		<img id="3" src="estilos/cromo.png" width="250px">
		<img id="4" src="estilos/cromo.png" width="250px">
		<img id="5" src="estilos/cromo.png" width="250px">
	</div>
	<div style="width: 34%; height: 676px;margin-left: 66%;">
		<a id="regresar" class="waves-effect waves-light btn" href="PaginaPrincipal.html">Regresar</a>
	</div>
</body>
</html>