html {
    background-image: url("eee.jpg");
}
#Titulo{
	text-align: center;
	position: absolute;
	margin-left: 40%;
	margin-top: 3%;
	color: white;
}
#regresar{
	margin-top: 5%;
	margin-left: 75%;
}
#formula{
	position: absolute;
	margin-top: 13%;
	margin-left: 39%;
	background-color: white;
}
#paquete{
	position: absolute;
	margin-top: 27%;
	margin-left: 22%;
}